.dashboard__column  {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

.dashboard__column-title  {
    font-weight: bold;
}

.dashboard__column-content  {
    display: flex;
    align-items: center;
    flex-direction: column;
}